<div class="container pb-5">
  <header class="mt-5">
    <img src="https://cdn.glitch.com/73fcfec4-fd90-48b0-acb7-6196517f580b%2Fbanner-772x250.png" alt="Alternative Tweet Embeds">
    <h1 class="mt-4">
      Alternative Tweet Embeds
    </h1>
    <p>
      Embed tweets without compromising your users' privacy and your site's performance.
    </p>
  </header>
  <p>
    Learn more on <a href="https://fourtonfish.com/project/tweet-embeds-wordpress-plugin/">fourtonfish.com</a> and <a href="https://glitch.com/edit/#!/alternative-twitter-embeds?path=README.md">in the project's source code</a>. Also available as a <a href="https://wordpress.org/plugins/tembeds/">WordPress plugin</a>.
  </p>
  <div class="mt-5">
    <h2 id="basic-usage">
      How to use
    </h2>
    <div class="row">
      <div class="col-sm-12">
        <p>
          See detailed instructions <a href="https://glitch.com/edit/#!/{{project_name}}?path=README.md">in the project's README file</a>. Below is the code you will need to add to the page where you're embedding tweets.
        </p>
        <pre><code class="html">&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset=&quot;utf-8&quot;&gt;
    &lt;link href=&quot;https://{{project_name}}.glitch.me/css/styles-bs.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;TWEET CODE&gt;
    &lt;script src=&quot;https://{{project_name}}.glitch.me/js/tweets.js&quot;&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
        <p>
          If you're using Bootstrap v4 on your site, you can load an alternative slimmed down stylesheet.
        </p>
        <pre><code class="html">&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset=&quot;utf-8&quot;&gt;
    &lt;link href=&quot;https://{{project_name}}.glitch.me/css/styles.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;TWEET CODE&gt;
    &lt;script src=&quot;https://{{project_name}}.glitch.me/js/tweets.js&quot;&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
        <p>
          Be sure to remove any <code>script</code> tags from the <a href="https://help.twitter.com/en/using-twitter/how-to-embed-a-tweet">embed code that Twitter gives you</a>.
        </p>
      </div>
    </div>
    <h2 id="examples">
      Examples
    </h2>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">I wrote a short exploration of the Civilian Complaints Against NYPD Officers dataset released by <a href="https://twitter.com/propublica?ref_src=twsrc%5Etfw">@propublica</a> to demo a WordPress <a href="https://twitter.com/hashtag/dataviz?src=hash&amp;ref_src=twsrc%5Etfw">#dataviz</a> plugin I&#39;ve been working on.<a href="https://t.co/AXNhHNDmZ0">https://t.co/AXNhHNDmZ0</a></p>&mdash; Stefan Bohacek (@fourtonfish) <a href="https://twitter.com/fourtonfish/status/1296445730358427650?ref_src=twsrc%5Etfw">August 20, 2020</a></blockquote>
      </div>
      <div class="col-sm-12 col-md-6">
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">I love this — The Verge covers ⁦<a href="https://twitter.com/fourtonfish?ref_src=twsrc%5Etfw">@fourtonfish</a>⁩’s brilliant generative image placeholders, a <a href="https://twitter.com/glitch?ref_src=twsrc%5Etfw">@Glitch</a> app that makes one of the most mundane parts of the web more beautiful. (And there are thought-provoking implications about art being made by code.) <a href="https://t.co/vKl9gLFj0h">https://t.co/vKl9gLFj0h</a></p>&mdash; Anil Dash (@anildash) <a href="https://twitter.com/anildash/status/1221101511306031106?ref_src=twsrc%5Etfw">January 25, 2020</a></blockquote>

      </div>
      <div class="col-sm-12 col-md-6">
          <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Happy International Women&#39;s Day!<br><br>(photo of striking textile workers during the 1912 Bread and Roses Strike). <a href="https://t.co/hBibKUlbAa">pic.twitter.com/hBibKUlbAa</a></p>&mdash; Austin DSA (@austin_DSA) <a href="https://twitter.com/austin_DSA/status/1369054930330394627?ref_src=twsrc%5Etfw">March 8, 2021</a></blockquote>
      </div>
      <div class="col-sm-12 col-md-6">
        <blockquote class="twitter-tweet"><p lang="und" dir="ltr"><a href="https://t.co/39D8u15dUH">pic.twitter.com/39D8u15dUH</a></p>&mdash; rain.gif (@raindotgifbot) <a href="https://twitter.com/raindotgifbot/status/1241757152399765505?ref_src=twsrc%5Etfw">March 22, 2020</a></blockquote>
      </div>
      <div class="col-sm-12 col-md-6">
        <blockquote class="twitter-tweet"><p lang="und" dir="ltr"><a href="https://t.co/39D8u15dUH">pic.twitter.com/39D8u15dUH</a></p>&mdash; rain.gif (@raindotgifbot) <a href="https://twitter.com/raindotgifbot/status/1241757152399765505?ref_src=twsrc%5Etfw">March 22, 2020</a></blockquote>
      </div>
      <div class="col-sm-12 col-md-6">
        <blockquote class="twitter-tweet"><p lang="und" dir="ltr"><a href="https://t.co/EoQqVhQlow">pic.twitter.com/EoQqVhQlow</a></p>&mdash; Hypno Bot (@hypno__bot) <a href="https://twitter.com/hypno__bot/status/1312545198757552130?ref_src=twsrc%5Etfw">October 4, 2020</a></blockquote>
      </div>
      <div class="col-sm-12 col-md-6">
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">What are your favorite bots to follow?</p>&mdash; Botwiki 🤖💾🎨 (@botwikidotorg) <a href="https://twitter.com/botwikidotorg/status/1320707382272577536?ref_src=twsrc%5Etfw">October 26, 2020</a></blockquote>        
      </div>
      <div class="col-sm-12 col-md-6">
        <blockquote class="twitter-tweet"><p lang="und" dir="ltr">😎 🐮 😬 😈 <a href="https://twitter.com/hashtag/emoji?src=hash&amp;ref_src=twsrc%5Etfw">#emoji</a> <a href="https://twitter.com/hashtag/poll?src=hash&amp;ref_src=twsrc%5Etfw">#poll</a></p>&mdash; EMOJI POLLS! (@emoji__polls) <a href="https://twitter.com/emoji__polls/status/719706620603838466?ref_src=twsrc%5Etfw">April 12, 2016</a></blockquote>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <p>
      Original project created by <a href="https://twitter.com/fourtonfish">@fourtonfish</a>
      <a class="btn btn-light btn-sm" href="https://glitch.com/edit/#!/{{project_name}}?path=README.md">View source</a>
      <a class="btn btn-light btn-sm" href="https://fourtonfish.com/projects/">More projects</a>
    </p>
  </div> 
</div>